.block-img-text.has-space-center.secondary-bg
	img.lazy(data-img-mobile = "images/block-img-content/block-img-content-mobile.jpg" data-img-desktop = "images/block-img-content/block-img-content.jpg" data-default = "images/block-img-bg.png" src="images/block-img-bg.png" alt="block-img-text")
	.block-img-text__content
		h3.block-img-text__title UltimateCare™ Series
		p We keep treasured pieces looking new for longer so that you can be proud to wear them as often as you like. Colours stay vibrant and fabrics stay soft, whilest having the minimal possible impact on the environment around us.
		.block-img-text__link
			a(href="/appliances/washing-machines/") View more



