head
  meta(charset='utf-8')
  title test AU
  meta(name='description' content='test AU')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1')
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon" crossorigin="anonymous")
  <link rel = "canonical" href = "https://elux-ecom-poc.Personal.com/" />
  block critical-css

  //inject:css
  //endinject