extends default
include ../../core/mixinComponents/mixinComponents
block critical-css
  //inject-css critical-css/wishlist-page.css
block content
  include ../features/Wishlist/ListingPage/wishlist.pug
