
.component-playground {

  display: flex;

  &__demo {
    width: 55%;
  }

  &__settings {

    flex: 1;
    padding: 10px;

    background: $c-gray-lightest;

  }

  &__switch-field {
    margin: 8px 0;
  }
}
