.block-img-content.has-space-center
	//- img.lazy(data-img-mobile = "images/block-img-content/block-img-content-mobile.jpg" data-img-desktop = "images/block-img-content/block-img-content.jpg" data-default = "images/block-img-bg.png" src="images/block-img-bg.png" alt="block-img-content")
	video.player.lazyImg(controls playsinline="" muted="" loop autoplay)
		source(data-src="images/block-img-content/pesticides-video.mp4" type="video/mp4") 



