$block = ".icon";

{$block} {
  fill: $c-brand-base;

  &__noFill {
    fill: none;
  }

  &--success {
    fill: $c-success-base;
  }

  &--warning {
    fill: $c-warning-base;
  }

  &--danger {
    fill: $c-danger-base;
  }

  &--inverted {
    fill: $c-gray-dark;
  }

  &[disabled] {
    fill: $c-gray-base;
  }
}
