h1.fs-20.lh-26.my-30.py-5.lh-38.fs-md-32.lh.md-38.mb-md-40.mt-md-50.pt-md-50 Your shopping cart is empty
.mb-50
  span.icon-empty-cart
button.empty-cart__button(@click="redirect('/')").btn.btn--primary Continue shopping

