.delivery-popup
  p
    strong {{otherShippingHeader}}
    <br/> {{otherShippingContent}}
  ul {{listOtherShippingMethods}}
  strong {{sideBySideShippingHeader}}
  p {{sideBySideShippingContent}}
  ul {{listSideBySideShippingMethods}}
  a(href="{{termAndConditionLink}}") Terms & Conditions
  p {{termAndCondition}} 