doctype html
html
  head
    meta(charset='utf-8')
    title test AU
    meta(name='description' content='test AU')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1')
    style(type="text/css").
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 500;
        src: local('testSans-Regular'), url('../../fonts/testSans-Regular.ttf') format('ttf');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 500;
        src: local('testSans-Regular'), url('../../fonts/testSans-Regular.woff') format('woff');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 500;
        src: local('testSans-Regular'), url('../../fonts/testSans-Regular.woff2') format('woff2');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 500;
        src: local('testSans-SemiBold'), url('../../fonts/testSans-SemiBold.ttf') format('ttf');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 500;
        src: local('testSans-SemiBold'), url('../../fonts/testSans-SemiBold.woff') format('woff');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 500;
        src: local('testSans-SemiBold'), url('../../fonts/testSans-SemiBold.woff2') format('woff2');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 600;
        src: local('testSans-Bold'), url('../../fonts/testSans-Bold.ttf') format('ttf');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 600;
        src: local('testSans-Bold'), url('../../fonts/testSans-Bold.woff') format('woff');
      }
      @font-face {
        font-family: 'test Sans';
        font-style: normal;
        font-weight: 600;
        src: local('testSans-Bold'), url('../../fonts/testSans-Bold.woff2') format('woff2');
      }
  body(style='margin:0; padding: 0; font-family: test Sans, Microsoft YaHei, SimSun, Heiti SC, Roboto, Arial, sans-serif; color: #011E41; font-weight: 500;')
    table(cellpadding='0' cellspacing=0 width='600px' align="center")
      tr
        td(style='padding: 0 30px; height: 54px; color: #fff; background-color: #011E41;')
          img(src="../../images/mail-images/test_logo_sg_white.svg" alt="")
      tr
        td(style='padding: 70px 0')
          h1(style="font-size: 32px; line-height: 38px; margin: 0 0 30px 0; font-weight: 600;") Get in touch
          h2(style="font-size: 26px; line-height: 34px; margin: 0 0 15px 0; font-weight: 600;") Call us
          div(style="color: #333; font-size: 16px; line-height: 24px; margin-bottom: 30px;")
            p(style="margin: 0") Contact customer care on 1300 666 019
            p(style="margin: 0") Monday to Friday 1am - 7pm
            p(style="margin: 0") Saturday 8am - 3pm
            p(style="margin: 0") Sunday 10am - 3pm 
          h2(style="font-size: 26px; line-height: 34px; margin: 0 0 15px 0; font-weight: 600;") Email us
          div(style="margin-bottom: 30px")
            table(width="100%" cellpadding="0")
              tr
                td(width="50%" style="padding-right: 10px; max-width: 50%; padding-bottom: 20px; vertical-align:top")
                  div(style="color: #333; font-size: 16px; line-height: 24px")
                    p(style="margin:  0 0 10px 0") First name
                    p(style="font-weight: 600; margin: 0") This is a long name This is a long name This is a long name This is a long name This is a long name
                td(width="50%" style="padding-left: 10px; max-width: 50%; padding-bottom: 20px; vertical-align:top")
                  div(style="color: #333; font-size: 16px; line-height: 24px")
                    p(style="margin:  0 0 10px 0") Last name
                    p(style="font-weight: 600; margin: 0") Trinh
              tr
                td(width="50%" style="padding-right: 10px; max-width: 50%; padding-bottom: 20px; vertical-align:top")
                  div(style="color: #333; font-size: 16px; line-height: 24px")
                    p(style="margin:  0 0 10px 0") Email address
                    p(style="font-weight: 600; margin: 0") manhtrinh1993nd@gmail.com
                td(width="50%" style="padding-left: 10px; max-width: 50%; padding-bottom: 20px; vertical-align:top")
                  div(style="color: #333; font-size: 16px; line-height: 24px")
                    p(style="margin:  0 0 10px 0") Type of inquery
                    p(style="font-weight: 600; margin: 0") Type of inquery
            div(style="color: #333; font-size: 16px; line-height: 24px")
              div(style="margin-bottom: 20px")
                p(style="margin:  0 0 10px 0") Contact number (optional)
                p(style="font-weight: 600; margin: 0") 0384395238
              div
                p(style="margin:  0 0 10px 0") Message (optional)
                p(style="font-weight: 600; margin: 0") this is an message
          h2(style="font-size: 26px; line-height: 34px; margin: 0 0 15px 0; font-weight: 600;") Support services
          a(href="#" style="font-size: 16px; line-height: 24px; color: #011E41; display: block") Find user manual
          a(href="#" style="font-size: 16px; line-height: 24px; color: #011E41; display: block") Find a service center
          a(href="#" style="font-size: 16px; line-height: 24px; color: #011E41; display: block") Find a store
          a(href="#" style="font-size: 16px; line-height: 24px; color: #011E41; display: block") View FAQs
      tr
        td(style='padding: 20px 0; text-align: center')
          span(style='font-size: 14px; line-height: 18px; color: #333333;') Copyright 2020 test - All Rights Reserved.    
