$LG-BLACK: #000;
$LG-SIDENAV-BG: #f4f6f9;
$LG-SIDENAV-BORDER: #eee;
$LG-SIDENAV-COLLAPSE-LINK: #5f5d5d;
$LG_SIDENAV-SEARCH-FORM-BORDER: #999;

$test-BLUE: #001e42;
$SKY-BLUE: #009abf;
$ORAGE: #eb6852;
$RED: #d02100;
$ORCHID: #cd5599;
$PLUM: #6d3a5d;
$AUBERGINE: #52284e;
$SLATE: #415464;
$CARBON: #646569;
$BLACK: #000000;
$MINE-SHAFT: #333333;
$DOVE-GREY: #666666;
$SLIVER: #c2c2c2;
$GALLERY: #ebebeb;
$WILD-SAND: #f6f6f6;
$WHITE: #ffffff;
$BUTTON-SKY-BLUE: #009abf;
$NAVIGATE-ORANGE: #eb6852;
$FACEBOOK-BLUE: #3b5998;
