include ../../../core/mixinComponents/mixinComponents
.product-detail-spec.my-30.mt-md-50(data-component="productDetailSpecification")
  .fs-md-20.lh-24.fs-16.primary.fw-600.pa-10.text--center.bg-primary-lighten-3.pa-md-15 Specifications
  .py-30.pt-md-50.pb-md-15
    .js_tabs__content.container.active
      .row
        .col-md-6
          p.fs-16.lh-24.ma-0.fs-md-20.lh-md-26
            strong Part number: 
            |&nbsp;3117172001
          p.fs-16.lh-24.ma-0.fs-md-20.lh-md-26
            strong Part number: 
            |&nbsp;3117172001
          p.fs-16.lh-24.ma-0.fs-md-20.lh-md-26
            strong Part number: 
            |&nbsp;3117172001
          p.fs-16.lh-24.ma-0.fs-md-20.lh-md-26
            strong Part number: 
            |&nbsp;3117172001
          p.fs-16.lh-24.ma-0.fs-md-20.lh-md-26
            strong Part number: 
            |&nbsp;3117172001
          p.fs-16.lh-24.ma-0.fs-md-20.lh-md-26
            strong Part number: 
            |&nbsp;3117172001
        .col-md-6.mt-30.mt-md-0
          .product-detail-spec__image.text--center
            img.lazyImg(data-src="images/tech-spec.jpg" src="dist/images/default-img-bg.svg" alt="Technical specification image")
