mixin SaleLink
  .sale-link.mt-30.d-flex.align-items-center.fw-600
    span.bg-sale-off.text--uppercase.fs-12.lh-14.pa-5.white.mr-15.mr-md-10 20% off
    a.fs-14.lh-18(href="#") Buy this product for 20% off


