mixin Steps()
  ul.steps
    li.step
      span.step__number.checked 1
      label.step__name ADDRESS
    li.step
      span.step__number.checked 2
      label.step__name PAYMENT
    li.step
      span.step__number.active 3
      label.step__name CONFIRM