li.product-filter__filter
  .btn.btn-link.product-filter__filter-title.text--primary.text--uppercase(class="js_product-filter__filter-title-{{FilterKey}}" data-component="popup" data-target="filter{{FilterKey}}" data-type="collapse" data-parent="productFilter" data-root="productFilter") {{FilterTypeText}}
  div(id="filter{{FilterKey}}").collapse
    .product-filter__filter-items(class="js_product-filter__filter-items-{{FilterKey}}")