.selectbox.js_select-box.product-sorting__sort-by.js_product-sorting__sort-selectbox.selectbox--sort(data-component="popup" data-target="selectbox" data-type="select")
  button.btn.selectbox__btn.js_selectbox__btn(type="button") Sort by
  .popup.selectbox__options-popup.js_selectbox__options(id="selectbox")
    .selectbox__option.js_selectbox__option(data-key="New Arrivals") New Arrivals
    .selectbox__option.js_selectbox__option(data-key="Price High to Low") Price High to Low
    .selectbox__option.js_selectbox__option(data-key="Price Low To High") Price Low To High
