.hero-banner-standard
	.hero-banner-slider(data-component="heroBannerSlider")
		.hero-banner.theme.theme--brown
			.hero-banner__img
				img.tns-lazy-img(data-src="" data-src-mobile="images/hero-banner/banner-image-mobile-375x350.jpg" data-src-desktop="images/hero-banner/banner-home-krk.jpg" alt="Banner-Home-krk.jpg" src="images/banner-img-bg.png" data-default="images/banner-img-bg.png")
			.hero-banner__content
				.hero-banner__wrapper
					h1.hero-banner__heading test Staff Benefits Program
					p Welcome to the test staff benefits program. Log in or register a new account to access staff discounts across our wide range of brands and products.
					button.btn.btn--primary Sign In
		.hero-banner.theme.theme--brown
			.hero-banner__img
				img.tns-lazy-img(data-src="" data-src-mobile="images/hero-banner/banner-image-mobile-375x350.jpg" data-src-desktop="images/hero-banner/banner-home-krk.jpg" alt="Banner-Home-krk.jpg" src="images/banner-img-bg.png" data-default="images/banner-img-bg.png")
			.hero-banner__content
				.hero-banner__wrapper
					.h1-title.hero-banner__heading test Staff Benefits Program
					p Welcome to the test staff benefits program. Log in or register a new account to access staff discounts across our wide range of brands and products.
					button.btn.btn--primary Sign In


