mixin BulkPriceTooltip()
  div(v-if="product.BulkPriceList.length > 0")
    .product-list__product-bulk-pricing Bulk Pricing
      .bulk-info
        ul.product-list__product-bulk-popup
          li.product-list__product-bulk-popup-item.d-flex.justify-content-between.align-items-center(v-for="bulkPrice of product.BulkPriceList" :key="bulkPrice.Name") {{bulkPrice.BreakPoint}}+ items&nbsp;
            span.price {{bulkPrice.IncludeGSTDisplay}}