.error-container
  h1.error-container__title 404 Page not found
  p.error-container__text Sorry, the page you're looking for cannot be found.
  span.error-container__text Please&nbsp;
    a.error-container__link(href="#") return to homepage.