mixin BtnAddToCompare(productCode)
  .add-to-compare.js-add-to-compare
    div.add-to-compare__checkbox
      label.checkbox
        input.js-add-to-compare__input(type="checkbox" data-product-code=productCode).checkbox__input
        span.checkbox__checkmark
        span.checkbox__label.js-add-to-compare__label Add To Compare