$c-white-base = #ffffff;
$c-white-darker = #fafafa;

$c-gray-lightest = #f7f8f9;
$c-gray-lighter = #eef1f2;
$c-gray-light = #d3dbdf;
$c-gray-base = #99abb3;
$c-gray-dark = #617983;
$c-gray-darker = #415158;
$c-gray-darkest = #20292b;

$c-brand-lightest = #f8e3fd;
$c-brand-light = #a329a3;
$c-brand-base = #8c238c;

$c-active-lightest = #e0fcff;
$c-active-light = #00c9e0;
$c-active-base = #00B0C5;

$c-success-lightest = #d3f0e1;
$c-success-light = #27CC76;
$c-success-base = #21b468;

$c-warning-lightest = #ffefd6;
$c-warning-light = #FFB642;
$c-warning-base = #ff9d00;

$c-danger-lightest = #f8d3cc;
$c-danger-light = #F24625;
$c-danger-base = #da2300;

$c-attention-base = #ff4b1a;

$c-link-light = #0087e3;
$c-link-base = #0075c3;
