mixin BtnRequestPrice(sku, text = "Request Price")
  button.btn.btn--primary.js_add-to-cart__button.js_request-price__button.w-100(data-skuCode=sku, v-bind:data-skuCode=sku)&attributes(attributes)=text
    block