.js_tabs {
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
}

.js_tabs__nav {
  position: relative;
  overflow: hidden;;
  background-color: $tabs__nav-bg;

  &::-webkit-scrollbar {
    display: none;
  }
}

.js_tabs__tabs-container {
  white-space: nowrap;
  font-size: 0;
}

.js_tabs__tab {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  padding: 12px 0;
  cursor: pointer;
  color: $primary-lighten-1;
  font-weight: 600;
  &.active {
    color: $primary;
  }
  .js_tabs__no-marker > & {
    border-bottom: none;
  }

  @include md {
    font-size: rem(20);
    line-height: rem(24);
    padding: 15px 0;
  }
}

.js_tabs__marker {
  position: absolute;
  bottom: 0;
  height: 2px;
  color: $primary;
  transition: transform 0.5s, width 0.5s, background-color 0.5s;
}

.js_tabs__content {
  display: none;

  &.active {
    display: block;
  }
}
