.product-bonus {
  &__title {
    line-height: 52px;
    background-color: $primary;
    color: $white;
    padding: 0 19px;
    border-left: 1px solid $white;
  }
  &__content {
    padding: 25px 19px;
  }
  &__item {
    margin: 0 0 30px 0;
    &-image-wrapper {
      text-align: center;
    }
  }
}
