section.promotion-page.container.py-25
  .row
    .col-md-4.col-12.py-25
      .promotion-page__img-wrap.img-center.mb-20
        img.lazyImg(src="/dist/images/block-img-bg.svg" :data-src="/dist/images/block-img-bg.svg")
      h4.fs-20.lh-26.primary.mb-5 Promotion name goes here
      p.fs-16.lh-24.mb-15 Facilisis gravida neque convallis a cras. Phasellus egestas tellus rutrum tellus
      button.btn.btn--primary View offer
    .col-md-4.col-12.py-25
      .promotion-page__img-wrap.img-center.mb-20
        img.lazyImg(src="/dist/images/block-img-bg.svg" :data-src="/dist/images/block-img-bg.svg")
      h4.fs-20.lh-26.primary.mb-5 Promotion name goes here
      p.fs-16.lh-24.mb-15 Facilisis gravida neque convallis a cras. Phasellus egestas tellus rutrum tellus
      button.btn.btn--primary View offer
    .col-md-4.col-12.py-25
      .promotion-page__img-wrap.img-center.mb-20
        img.lazyImg(src="/dist/images/block-img-bg.svg" :data-src="/dist/images/block-img-bg.svg")
      h4.fs-20.lh-26.primary.mb-5 Promotion name goes here
      p.fs-16.lh-24.mb-15 Facilisis gravida neque convallis a cras. Phasellus egestas tellus rutrum tellus
      button.btn.btn--primary View offer

