
div.odhd-product-delivery
  div.odhd-product-delivery__wrapper.p-0.col-md-10
    div.odhd-product-delivery__info
      span.odhd-product-delivery__title Delivery
      span.odhd-product-delivery__text {{deliveryType}}
      span.odhd-product-delivery__text(class='{{showDeliveryDate}}') Date : {{deliveryDate}}
      //- span.odh-form__product-qty.d-md-none {{deliveryQuantity}}
      span.odh-form__product-sub-total.d-md-none {{subTotal}}
  //- div.odhd-product-item__qty.odhd-product-delivery__qty.mobile--hide.col-md-2 {{deliveryQuantity}}
  div.odhd-product-item__sub-total.odhd-product-delivery__sub-total.mobile--hide.col-md-2 {{subTotal}}