div.myacc-form__group
  label.myacc-form__label First name
  span.myacc-form__value {{FirstName}}
div.myacc-form__group
  label.myacc-form__label Last name
  span.myacc-form__value {{LastName}}
div.myacc-form__group
  label.myacc-form__label Email address
  span.myacc-form__value {{EmailAddress}}
div.myacc-form__group
  label.myacc-form__label Contact number
  span.myacc-form__value  {{ContactNumber}}