.card-img-bg.theme.theme-caput-mortuum
	img.lazy(data-default = "images/card-img-bg.png" src="images/card-img-bg.png" alt="card-img-bg")
	.card-img-bg__content
		h3.card-img-bg__title Product Registration
		p.card-img-bg__description To enjoy peace of mind register your test product for warranty coverage.
		.card-img-bg__link
			a.btn-link(href="/support/register-warranty/") Call to action